.item{
    width: 500px;
    color: #353935;
    font-size: 20px;
    margin: 0 auto;
}
.itemname{
    font-weight: bolder;
    padding: 20px;

}
.line{
    border: 1px solid #e5e4e4;
}
.deleteButton{
    float: right;
    padding: 12px 20px;
    border: none;
    background-color: #f7ca18;
    color: white;
    margin-top: -5px;
    border-radius: 4px;
    cursor: pointer;

}